@using RentOpsWebApp.ViewModels;
@model RentalRequestViewModel;
@{
    ViewData["Title"] = "RentalRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rental Requests</h1>
<br/>

<!-- a container with padding of 3.. This div is closed at the end of the page-->
<div class="container p-3">
	<!-- a row with padding-top of 4-->
	<div class="row pt-4">
		<!-- divide up the row into 2 blocks of 8 & 2 columns = total 12 as per bootstrap standard-->
		<div class="col-8">

			<form asp-controller="RentalRequest" asp-action="RentalRequest" method="get">
				<div class="input-group">
					Rental Request Id:

					<input type="text" name="SearchRentalRequestId" value="@Context.Request.Query["SearchRentalRequestId"].ToString()" style="width: 60px;" />

				</div>


				Rental Request Status:
				<div class="input-group">
					<select asp-for="SearchRentalRequestStatusId"
							asp-items="@Model.rentalRequestStatuses
                               .Select(i => new SelectListItem { Text = i.RentalRequestStatusTitle, Value = i.RentalRequestStatusId.ToString() })"
							class="form-select">
						<option value="" disabled selected>Select a Status</option>
					</select>
				</div>

				Equipment Name:
				<div class="input-group">
					<select asp-for="SearchEquipmentId"
							asp-items="@Model.equipmentTitle
                               .Select(i => new SelectListItem { Text = i.EquipmentName, Value = i.EquipmentId.ToString() })"
							class="form-select">
						<option value="" disabled selected>Select an Equipment</option>
					</select>
				</div>


				<input type="submit" value="Search" class="btn btn-secondary" />
				<a asp-controller="RentalRequest" asp-action="RentalRequest" class="btn btn-outline-danger">Clear</a>

			</form>

		</div>





<table class="table table-striped">
	<thead>
		<tr class="text-center">
			<th>Rental Request ID</th>
			<th>Customer ID</th>
			<th>Customer Name</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Total Cost</th>
			<th>Equipment Name</th>
			<th>Request Status</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var record in Model.rentalRequests)
		{
			<tr class="text-center">
				<td>@record.RentalRequestId</td>
				<td>@record.User.UserId</td>
				<td>@record.User.FirstName @record.User.LastName</td>
				<td>@record.RentalStartDate</td>
				<td>@record.RentalReturnDate</td>
				<td>@record.RentalTotalCost</td>
				
				<td>@record.Equipment.EquipmentName</td>
				<td>@record.RentalRequestStatus.RentalRequestStatusTitle</td>
				<td>
					<a asp-action="Edit" asp-route-id="@record.RentalRequestId" class="btn btn-primary">Edit</a>
					@* <a asp-action="Delete" asp-route-id="@record.RentalRequestId" class="btn btn-danger">Delete</a> *@
				</td>
			</tr>
		}
	</tbody>