@model IEnumerable<RentOpsObjects.Model.ReturnRecord>;

@{
    ViewData["Title"] = "ReturnRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Return Records</h1>

<!------------------------------------------------------------------------------>

@{
    if (TempData["CreateSuccess"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["CreateSuccess"].ToString()
        </div>
    }
}
<!-- a container with padding of 3.. This div is closed at the end of the page-->
<div class="container p-3">
    <!-- a row with padding-top of 4-->
    <div class="row pt-4">
        <!-- divide up the row into 2 blocks of 8 & 2 columns = total 12 as per bootstrap standard-->
        <div class="col-8">

            @*The input & select controls name tag decide the name of the URL parameters that will be added
            Then remember that anything that goes in the URL, can be read in the method parameters*@

            <form asp-controller="ReturnRecord" asp-action="ReturnRecord" method="get">
                Return Record ID:
                
                <input type="text" name="SearchString" value="@Context.Request.Query["SearchString"].ToString()" />

                Return Transaction ID:

                <input type="text" name="SearchString" value="@Context.Request.Query["SearchString"].ToString()" />
                
                <select class="form-select"  name="SearchCategory" asp-items="@ViewBag.catList">
                    <option value="">All</option>
                </select>
                
                <input type="submit" value="Search" />
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-danger">Clear</a>
            </form>

        </div>

        <!--create button-->
        <div class="col-4 text-end">
            <!--text end aligns the button to the right side-->
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square-fill"></i>&nbsp; Create Product
            </a>
        </div>

    </div>


    <!------------------------------------------------------------------------------>


<table class="table table-striped">
	<thead>
            <tr class="text-center">
			<th>Return Record ID</th>
			<th>Rental Transaction ID</th>
			<th>Actual Return Date</th>
			<th>Additional Charge</th>
			<th>Late Return Fee</th>
			<th>Document ID</th>
			<th>Return Condition</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var record in Model)
		{
             <tr class="text-center">
				<td>@record.ReturnRecordId</td>
				<td>@record.RentalTransactionId</td>
				<td>@record.ActualReturnDate.ToString("yyyy-MM-dd")</td>
				<td>@record.AdditionalCharge</td>
				<td>@record.LateReturnFee</td>
				<td>@record.DocumentId</td>
				<td>@record.ReturnCondition.ConditionStatusTitle</td>
				<td>
					<a asp-action="Edit" asp-route-id="@record.ReturnRecordId" class="btn btn-primary">Edit</a>
					<a asp-action="Delete" asp-route-id="@record.ReturnRecordId" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>

