@using RentOpsWebApp.ViewModels;
@model ReturnRecordViewModel;

@{
    ViewData["Title"] = "ReturnRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Return Records</h1>

<!------------------------------------------------------------------------------>

@{
    if (TempData["CreateSuccess"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["CreateSuccess"].ToString()
        </div>
    }
}

<!-- a container with padding of 3.. This div is closed at the end of the page-->
<div class="container p-3">
	<!-- a row with padding-top of 4-->
	<div class="row pt-4">
		<!-- divide up the row into 2 blocks of 8 & 2 columns = total 12 as per bootstrap standard-->
		<div class="col-8">

			<form asp-controller="ReturnRecord" asp-action="ReturnRecord" method="get">
				<div class="input-group">
					return record ID:

					<input type="text" name="SearchReturnRecordId" value="@Context.Request.Query["SearchReturnRecordId"].ToString()" style="width: 60px;" />

					Rental Transaction Id:

					<input type="text" name="SearchRentalTransactionId" value="@Context.Request.Query["SearchRentalTransactionId"].ToString()" />

					Actual Return Date:
					<input type="date" name="searchActualReturnDate" value="@Context.Request.Query["searchActualReturnDate"].ToString()">


				</div>

				Return Condition:
				<div class="input-group">
					<select asp-for="SearchConditionStatus"
							asp-items="@Model.conditionStatuses
                               .Select(i => new SelectListItem { Text = i.ConditionStatusTitle, Value = i.ConditionStatusId.ToString() })"
							class="form-select">
						<option value="" disabled selected>Select a Condition</option>
					</select>
				</div>

				
				<input type="submit" value="Search" class="btn btn-secondary" />
				<a asp-controller="ReturnRecord" asp-action="ReturnRecord" class="btn btn-outline-danger">Clear</a>
			</form>

		</div>

		<!--create button-->
		<div class="col-4 text-end">
			<!--text end aligns the button to the right side-->
			<a asp-controller="ReturnRecord" asp-action="Create" class="btn btn-primary">
				<i class="bi bi-plus-square-fill"></i>&nbsp; Add New Equipment
			</a>
			
		</div>

	</div>


    <!------------------------------------------------------------------------------>


<table class="table table-striped">
	<thead>
            <tr class="text-center">
			<th>Return Record ID</th>
			<th>Rental Transaction ID</th>
			<th>Actual Return Date</th>
			<th>Additional Charge</th>
			<th>Late Return Fee</th>
			<th>Document ID</th>
			<th>Return Condition</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var record in Model.returnRecords)
		{
             <tr class="text-center">
				<td>@record.ReturnRecordId</td>
				<td>@record.RentalTransactionId</td>
				<td>@record.ActualReturnDate.ToString("yyyy-MM-dd")</td>
				<td>@record.AdditionalCharge</td>
				<td>@record.LateReturnFee</td>
				<td>@record.DocumentId</td>
				<td>@record.ReturnCondition.ConditionStatusTitle </td>
				<td>
						<a asp-action="Edit" asp-route-id="@record.ReturnRecordId" class="btn btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>

						<a asp-action="Delete" asp-route-id="@record.ReturnRecordId" class="btn btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
				</td>
			</tr>
		}
	</tbody>
	</table>
